<main>
  <div class="py-10 bg-anti_flash_white">
    <div class="max-w-screen-custom_x mx-auto px-[15px]">
      <div class="flex gap-2 items-center text-[14px] max-md:flex-col max-md:items-start">
        <div><a href="/online-store">Trang chủ</a></div>
        <div class="h-[2px] bg-black w-[30px]"></div>
        <div><%= product.category %></div>
        <div class="h-[2px] bg-black w-[30px]"></div>
        <div><%= product.title %></div>
      </div>
      <div class="my-4 flex gap-2 max-custom_md:flex-col">
        <div>
          <div
            x-data="{thumbnail: '<%= product.thumbnails[0] %>' }"
            class="bg-white p-3 flex-1 border flex gap-5 max-md:flex-col">
            <div class="md:max-w-[350px]">
              <div>
                <img :src="thumbnail" alt="" class="w-full" />
              </div>
              <div class="overflow-hidden mt-2">
                <div id="swiper-preview-product">
                  <div class="swiper-wrapper">
                    <% product.thumbnails.forEach(function(img, i){ %>
                    <div class="swiper-slide">
                      <div class="">
                        <img src="<%= img %>" alt="" @click="thumbnail='<%= img %>'" class="cursor-pointer" />
                      </div>
                    </div>
                    <% }); %>
                  </div>
                  <% if(product.thumbnails.length > 4) { %>
                  <div class="flex justify-center gap-3 mt-4">
                    <button
                      class="swiper-btn-prev w-[30px] h-[30px] rounded flex items-center justify-center bg-[#d6d6d6] text-white">
                      <i class="fa-solid fa-chevron-left"></i>
                    </button>
                    <button
                      class="swiper-btn-next w-[30px] h-[30px] rounded flex items-center justify-center bg-[#d6d6d6] text-white">
                      <i class="fa-solid fa-chevron-right"></i>
                    </button>
                  </div>
                  <% } %>
                </div>
              </div>
            </div>
            <div>
              <h1 class="text-[24px]"><%= product.title %></h1>
              <div class="flex justify-between items-center">
                <div class="flex items-center">
                  <div class="flex items-start text-tiger_eye mt-5">
                    <span class="text-[20px] font-bold" x-text="$store.formatMoney(<%= product.price %>)"></span>
                    <span class="underline text-[12px]">đ</span>
                  </div>
                </div>
                <div class="p-1 px-2 bg-tiger_eye text-white uppercase rounded-lg">Còn hàng</div>
              </div>
              <div class="mt-5">
                <div class="border rounded-md bg-[#fbfbfb]">
                  <div class="border-b last:border-none px-3 py-2">
                    <h5 class="text-[12px] font-bold flex items-center gap-2">
                      <i class="fa-solid fa-caret-right text-tiger_eye text-[15px]"></i>Giao hàng
                    </h5>
                    <p class="pl-4 text-[14px]">Giao hàng toàn quốc</p>
                  </div>
                  <div class="border-b last:border-none px-3 py-2">
                    <h5 class="text-[12px] font-bold flex items-center gap-2">
                      <i class="fa-solid fa-caret-right text-tiger_eye text-[15px]"></i>Đổi trả
                    </h5>
                    <p class="pl-4 text-[14px]">
                      Đổi trả miễn phí trong vòng 30 ngày khi phát hiện lỗi từ nhà sản xuất. Liên lạc tổng đài 19009065
                      để được hỗ trợ
                    </p>
                  </div>
                  <div class="border-b last:border-none px-3 py-2">
                    <h5 class="text-[12px] font-bold flex items-center gap-2">
                      <i class="fa-solid fa-caret-right text-tiger_eye text-[15px]"></i>Thanh toán
                    </h5>
                    <p class="pl-4 text-[14px]">
                      Thanh toán tiền mặt khi nhận hàng, thanh toán chuyển khoản ngân hàng, thanh toán online
                    </p>
                  </div>
                </div>
              </div>
              <div class="grid grid-cols-2 mt-5 gap-4">
                <h5 class="block whitespace-nowrap w-[60px] text-[14px] font-bold">Tiêu đề</h5>
                <div class="border-2 border-black text-center text-[14px] p-1"><%= product.title %></div>
                <h5 class="block whitespace-nowrap w-[60px] text-[14px] font-bold">Số lượng</h5>
                <div class="text-center text-[14px]">
                  <div x-data="{inputValue: 1}" class="rounded w-[120px] flex items-center border border-[#ccc]">
                    <button
                      class="bg-[#eee] w-[30px] h-[30px]"
                      @click="inputValue && inputValue >= 2? --inputValue : 1">
                      -
                    </button>
                    <input
                      type="text"
                      :value="inputValue"
                      class="flex-1 w-full h-full text-center outline-none"
                      @input="inputValue=/[0-9]/.test($el.value) && $el.value ? $el.value : ''" />
                    <button class="bg-[#eee] w-[30px] h-[30px]" @click="inputValue=inputValue?++inputValue : 1">
                      +
                    </button>
                  </div>
                </div>
              </div>
              <div>
                <button class="bg-tiger_eye px-3 py-2 text-white w-full mt-8 hover:opacity-80 rounded-lg">
                  Mua hàng
                </button>
              </div>
            </div>
          </div>
          <div class="mt-5">
            <div class="bg-white border p-3">
              <div class="text-[14px] text-[#666666]">
                <p>Thương hiệu: <%= product.branch %></p>
                <p>Loại sản phẩm: <%= product.category %></p>
              </div>
              <hr class="my-4" />
              <div>
                <h6 class="text-[30px] font-medium text-[#666666]">Đặc tính nổi bật</h6>
                <hr class="my-4" />
                <ul class="list-disc pl-6 text-[#666] text-[14px]">
                  <%- product.outstanding_feature %>
                </ul>
              </div>
              <hr class="my-4" />
              <div>
                <h6 class="text-[30px] font-medium text-[#666666]">Thông tin sản phẩm</h6>
                <hr class="my-4" />
                <ul class="list-disc pl-6 text-[#666] text-[14px]">
                  <%- product.description %>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="bg-white p-2 pt-5 w-[300px] max-custom_md:w-full border">
          <div class="grid grid-cols-2 custom_md:grid-cols-1 gap-3">
            <% productRelate.forEach((item) => {%>
            <div class="mb-5">
              <a href="/online-store/<%= item.id %>" class="bolck">
                <img class="max-w-[160px] mx-auto" src="<%= item.thumbnails[0] %>" alt="" />
                <p class="mt-2 text-[14px] text-[#666] text-center line-2-3dot"><%= item.title %></p>
                <div class="flex justify-center">
                  <span
                    x-data
                    class="text-tiger_eye text-[14px] font-medium text-center"
                    x-text="$store.formatMoney('<%= item.price %>')">
                  </span>
                  <span class="text-[14px] underline text-tiger_eye">đ</span>
                </div>
              </a>
            </div>
            <%}); %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
